<!DOCTYPE HTML>
<html>
  <head>
    <style>
      body {
        margin: 0px;
        padding: 0px;
      }
      
    </style>

    
    <script type="text/javascript" src="jquery-1.11.2.min.js"></script>
    <script type="text/javascript" src="fabric.js"></script>
    <script type="text/javascript" src="main.js"></script>
    <script src="https://cdn.socket.io/socket.io-1.3.5.js"></script>
  </head>


  <body>
    <div id="users"></div>
    <div id="yourUsers"></div>
    <div id="chatWindow"></div>
    <br>
    <button onclick="save()">Save</button>
    
    <br>
    <script>
      var socket = io.connect();
      
      function save(){
        socket.emit('image_data', {'data': strData});
        alert("Image was saved!");
        
      }
    </script>
  </body>
</html>  